@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

:root {
    --red: #f00;
    --black: #000;
    --white: #fff;
    --light-white: #aaa;
    --light-bg: #111;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
}

body {
    background-color: var(--black);
}

.swiper-pagination-bullet {
    border-radius: 0 !important;
    width: 0.75rem !important;
    height: 0.75rem !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--red) !important;
}